@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;margin: 0;
    outline: none;border: none;
    transition: all 0.3s linear;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --light: #ccc;
    --blue-dark: #345674;
    --red-dark: #b14530;
    --green-dark: #2a9d8f;
    --border: 1px solid #ccc;
}

body{
    background: #eee;
}

.heading {
    text-align: center;
    margin: 1rem 0;
    color: #345674;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
}

.header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: .5rem 8%;
    border-bottom:var(--border) ;
    background-color: var(--white);
    z-index: 1000;
}

.header .logn {
    color: #345674;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.5rem;
}

.header .navber a{
    color: var(--red-dark);
    margin-right: 1rem;
    font-weight: 500;
}

.header .navber a:hover{
    color: var(--light);
}

.header .icons{
    display: flex;
    align-items: center;
}

.header .icons i {
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #345674;
    cursor: pointer;
}

.header .icons i:hover{
    color: #b14530;
}

#menu{
    display: none;
}

#close{
    display: none;
}

section{
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
}

.hero .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 80vh;
}

.hero .slide .image {
    flex: 1;
}

.hero .slide .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.hero .slide .contact {
    flex: 1;
    text-align: center;
}

.hero .slide .contact span {
    margin-bottom: .5rem;
}

.hero .slide .contact h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #345674;
    margin-bottom: .5rem;
}

.hero .slide .contact a {
    background: #2a9d8f;
    display: flex;
    margin: auto;
    width: 150px;
    height: 35px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.hero .slide .contact a:hover{
    background: transparent;
    border: var(--border);
    color: #345674;
}


span.swiper-pagination-bullet-active{
   background: var(--red-dark);
}

.gotagory .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.gotagory .container .box {
    border-radius: 1px;
    border: 2px solid #000;
    padding: 1rem;
}

.gotagory .container .box:hover{
    background-color: #fff;
    color: #000;
}

.gotagory .container .box img {
    height: 10rem;
    display: flex;
    margin: auto;
}

.gotagory .container .box h3 {
    text-align: center;
    margin-top: 1rem;
    text-transform: capitalize;
}

.producats .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.producats .box-container .box {
    border: var(--border);
    border-radius: 5px;
    position: relative;
    background: #fff;
    overflow: hidden;
}

.producats .box-container .box img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

.producats .box-container .box .fa-eye,
.producats .box-container .box .fa-shopping-cart{
    position: absolute;
    top: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.3rem;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    color: #345674;
    font-size: 1.2rem;
}
.producats .box-container .box .fa-eye:hover,
.producats .box-container .box .fa-shopping-cart:hover{
    background-color: #345674;
    color: #fff;
}

.producats .box-container .box .fa-shopping-cart{
    left: -10rem;
}

.producats .box-container .box .fa-eye{
    right: -10rem;
}

.producats .box-container .box:hover .fa-shopping-cart{
    left: 0.5rem;
}

.producats .box-container .box:hover .fa-eye{
    right: .5rem;
}

.producats .box-container .box .cat{
    margin-left: 1rem;
    font-size: 1rem;
    color: #ccc;
    text-transform: capitalize;
}

.producats .box-container .box .name{
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: #2a9d8f;
    font-weight: 800;
}

.producats .box-container .box .flex {
    display: flex;
    align-items: center;
    margin-right: .5rem;
    margin-left: .5rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: 900;
}

.producats .box-container .box .flex .price span{
    color: #b14530;
    font-size: .9rem;
}

.producats .box-container .box .flex .price  {
    color: #000;
    font-size: 1.1rem;
}

.producats .box-container .box .flex .qty{
    border: var(--border);
    width: 50px;
    height: 40px;
    padding: .5rem;
    border-radius: 5px;
}

.all-view{
    align-items: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 150px;
    background: #345674;
    height: 35px;
    border-radius: 5px;
}

.all-view:hover{
    background: transparent;
    color: #345674;
    border: 1px solid #345674;
}


footer{
    background: #fff;

}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    gap: 2rem;

}
.box-footer{
    display: flex;
    flex-direction: column;
}

.box-footer h3{
    margin: 1rem 0;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    color: #023047;
}


.box-footer a {
    text-align: start;
    margin-left: 7rem;
    margin-bottom: .5rem;
    color: #0f6bae;
}

.box-footer a:hover{
    text-decoration: underline;
}

.box-footer i {
    margin-right: 1rem;
    color: #2839d6;
}

.copy{
    text-align: center;
    padding: .5rem;
    border-top: 1px solid #ccc;
}

.copy h2{
    font-size: 1.3rem;
    color: #023047;
}

.copy span {
    color: #0f6bae;
}

@media (max-width:991px) {

    .header{
        position: fixed;
        bottom: 0; right: 0; left: 0;
        border-top:var(--border);
        z-index: 2000;
        background: var(--white);
    }
    
    .header .navber{
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        height: 100vh;
        width: 60%;
        border-right: var(--border);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        overflow: hidden;
        z-index: -10;
    }

    .header .navber.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navber a{
        display: block;
        padding: 1rem 0;
        margin: 2rem 0;
    }

    #menu{
        display: block;
    }

    #close{
        display: none;
        position: absolute;
        top: .5rem; right: 11rem;
        border: var(--border);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        align-items: center;
        text-align: center;
        justify-content: center;
        transition: all 6s linear;
    }

    .hero .slide{
        display: block;
        overflow: hidden;
        min-height: 70vh;
    }

    .hero .slide .image img {
        width: 90%;
        height: 300px;
        display: flex;
        margin:2rem auto;
    }

    .gotagory .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .heading {
        font-size: 2rem;
    }

    .copy h2{
        font-size: .8rem;
    }
    
}