<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- file css -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- file cdnjs css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!-- link swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <title>Pizza || Menu</title>
  </head>
  <body>
    <header class="header">
      <a href="../index.html" class="logn">Pizza</a>
      <nav class="navber">
        <a href="../index.html">Home</a>
        <a href="about.html">About</a>
        <a href="menu.html">Menu</a>
        <a href="orders.html">Orders</a>
        <a href="content.html">Content</a>
      </nav>
      <div class="icons">
        <i class="fas fa-solid fa-bars" id="menu"></i>
        <a href="search.html"><i class="fas fa-regular fa-magnifying-glass"></i></a>
        <i class="fas fa-thin fa-user" id="user"></i>
        <div class="cart">
          <i class="fas fa-light fa-cart-shopping" id="carts"><span>(4)</span></i>
          <div class="your-carts">
            <h1>your Cart</h1>
            <form action="#" method="post" class="box">
                <div class="image">
                    <img src="../images/cart2.jpg" alt="">
                </div>
                <div class="contact">
                    <p class="name">Kickers Pizza BBQ Sauce</p>
                    <p class="price">$7</p>
                    <div class="btns">
                        <button>+</button>
                        <p>1</p>
                        <button>-</button>
                    </div>
                </div>
                <div class="trach">
                    <i class="fas fa-regular fa-trash"></i>
                </div>
            </form>
            <div class="line"></div>
            <form action="#" method="post" class="box">
                <div class="image">
                    <img src="../images/cart4.jpg" alt="">
                </div>
                <div class="contact">
                    <p class="name">Chicken Legend Hot</p>
                    <p class="price">$10</p>
                    <div class="btns">
                        <button>+</button>
                        <p>1</p>
                        <button>-</button>
                    </div>
                </div>
                <div class="trach">
                    <i class="fas fa-regular fa-trash"></i>
                </div>
            </form>
            <div class="line"></div>
            <form action="#" method="post" class="box">
                <div class="image">
                    <img src="../images/cart3.jpg" alt="">
                </div>
                <div class="contact">
                    <p class="name">Chicken Legend Ranch</p>
                    <p class="price">$9</p>
                    <div class="btns">
                        <button>+</button>
                        <p>1</p>
                        <button>-</button>
                    </div>
                </div>
                <div class="trach">
                    <i class="fas fa-regular fa-trash"></i>
                </div>
            </form>
            <div class="line"></div>
            <form action="#" method="post" class="box">
                <div class="image">
                    <img src="../images/cart3.jpg" alt="">
                </div>
                <div class="contact">
                    <p class="name">Philly Cheese Steak</p>
                    <p class="price">$30</p>
                    <div class="btns">
                        <button>+</button>
                        <p>1</p>
                        <button>-</button>
                    </div>
                </div>
                <div class="trach">
                    <i class="fas fa-regular fa-trash"></i>
                </div>
            </form>
            <div class="line"></div>
            <div class="total">
                <p class="items">items</p>
                <p class="prices">$56</p>
            </div>
            <a href="cart.html" class="btn">see your cart</a>
            <i class="fs fa-solid fa-xmark" id="close-cart"></i>
        </div>
        </div>
      </div>
      <i class="fas fa-solid fa-xmark" id="close"></i>
    </header>

            <section class="page-cart">
                <h1 class="heading">your cart</h1>
                <div class="carts-total">
                    <p>cart total : <span>$56</span></p>
                    <a href="checkout.html">Proceed Checkout</a>
                </div>
                <div class="producats">
                  <div class="box-container">
                            <form action="#" method="post" class="box total-box">
                              <button type="submit" class="fas fa-eye" name="quick_view"></button>
                              <i class="fs fa-solid fa-xmark close"></i>
                                  <img src="../images/cart2.jpg" alt="">
                              <a href="#" class="cat">fast food</a>
                          <div class="name">Kickers Pizza BBQ Sauce</div>
                          <div class="flex">
                              <div class="price"><span>$</span>7</div>
                            <div>
                              <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
                              <a href="#"><i class="fas fa-light fa-pen-to-square"></i></a>
                            </div>
                          </div>
                          <p class="sub">sub total: <span>$7</span></p>
                          </form>
                          <form action="#" method="post" class="box total-box">
                            <button type="submit" class="fas fa-eye" name="quick_view"></button>
                            <i class="fs fa-solid fa-xmark close"></i>
                                <img src="../images/cart4.jpg" alt="">
                            <a href="#" class="cat">fast food</a>
                        <div class="name">Chicken Legend Hot</div>
                        <div class="flex">
                            <div class="price"><span>$</span>10</div>
                          <div>
                            <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
                            <a href="#"><i class="fas fa-light fa-pen-to-square"></i></a>
                          </div>
                        </div>
                        <p class="sub">sub total: <span>$10</span></p>
                        </form>
                        <form action="#" method="post" class="box total-box">
                          <button type="submit" class="fas fa-eye" name="quick_view"></button>
                          <i class="fs fa-solid fa-xmark close"></i>
                              <img src="../images/cart3.jpg" alt="">
                          <a href="#" class="cat">fast food</a>
                      <div class="name">Chicken Legend Ranch</div>
                      <div class="flex">
                          <div class="price"><span>$</span>9</div>
                        <div>
                          <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
                          <a href="#"><i class="fas fa-light fa-pen-to-square"></i></a>
                        </div>
                      </div>
                      <p class="sub">sub total: <span>$9</span></p>
                      </form>
                      <form action="#" method="post" class="box total-box">
                        <button type="submit" class="fas fa-eye" name="quick_view"></button>
                        <i class="fs fa-solid fa-xmark close"></i>
                            <img src="../images/cart3.jpg" alt="">
                        <a href="#" class="cat">fast food</a>
                    <div class="name">Philly Cheese Steak</div>
                    <div class="flex">
                        <div class="price"><span>$</span>30</div>
                      <div>
                        <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
                        <a href="#"><i class="fas fa-light fa-pen-to-square"></i></a>
                      </div>
                    </div>
                    <p class="sub">sub total: <span>$30</span></p>
                    </form>
                     
                  </div>
                  <button class="btn">Delete All</button>
                </div>
            </section>
   

    <footer>
      <div class="container-footer">
        <div class="box-footer">
          <h3>quich links</h3>
          <a href="../index.html"
            ><i class="fa-solid fa-chevron-right"></i> Home</a
          >
          <a href="about.html"
            ><i class="fa-solid fa-chevron-right"></i> About</a
          >
          <a href="cart.html"><i class="fa-solid fa-chevron-right"></i> Cart</a>
          <a href="contact.html"
            ><i class="fa-solid fa-chevron-right"></i>Contact Us</a
          >
        </div>
        <div class="box-footer">
          <h3>extra links</h3>
          <a href="../auth/logn.html"
            ><i class="fa-solid fa-chevron-right"></i> login</a
          >
          <a href="../auth/register.html"
            ><i class="fa-solid fa-chevron-right"></i> Register</a
          >
          <a href="orders.html"
            ><i class="fa-solid fa-chevron-right"></i> Orders</a
          >
          <a href="search.html"
            ><i class="fa-solid fa-chevron-right"></i> Search</a
          >
        </div>
        <div class="box-footer">
          <h3>follow us</h3>
          <a href=""><i class="fa-brands fa-facebook"></i> facebook </a>
          <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
          <a href=""><i class="fa-brands fa-linkedin"></i> linkedIn</a>
          <a href="#"><i class="fa-brands fa-twitter"></i>twitter</a>
        </div>
      </div>
    </footer>

    <div class="copy">
      <h2>
        © copyright @2023 by <span>MR.Mohamed Shams</span> | all rights reserved
      </h2>
    </div>

    <!-- file js -->
    <script src="../script/script.js"></script>
  </body>
</html>
