@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;margin: 0;
    outline: none;border: none;
    transition: all 0.2s linear;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --light: #ccc;
    --blue-dark: #345674;
    --red-dark: #b14530;
    --green-dark: #2a9d8f;
    --border: 1px solid #ccc;
}

body{
    background: #eee;
    position: relative;
}

.heading {
    text-align: center;
    margin: 1rem 0;
    color: #345674;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    text-decoration: underline;
}

.header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: .5rem 8%;
    border-bottom:var(--border) ;
    background-color: var(--white);
    z-index: 1000;
}

.header .logn {
    color: #345674;
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 1.5rem;
}

.header span {
    color: #2a9d8f;
}

.header .navber a{
    color: var(--red-dark);
    margin-right: 1rem;
    font-weight: 500;
}

.header .navber a:hover{
    color: var(--light);
}

.header .icons{
    display: flex;
    align-items: center;
}

.header .icons i {
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #345674;
    cursor: pointer;
}

.header .icons span {
    font-size: .9rem;
}

.header .icons i:hover{
    color: #b14530;
}

.user{
    position: relative;
}

.info-user{
    position: absolute;
    width: 250px;
    background: #fff;
    right: 0;
    padding: 1rem;
    top: 2.5rem;
    border-radius: 5px;
    border: var(--border);
    z-index: 20000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.info-user.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.info-user .box .name-user {
    text-align: center;
    text-transform: capitalize;
    color: #023047;
    margin-bottom: 1rem;
}

.info-user .box .profile,
.info-user .box .logout{
    background: #345674;
    padding: 0.3rem 1.3rem;
    border-radius: 5px;
    color: #fff;
}

.info-user .box .profile:hover{
    background: #2839d6;
}

.info-user .box .logout{
    background: #b14530;
}

.info-user .box .logout:hover{
    background: #f32800;
}

.info-user .box .lo-re{
    margin-top: .7rem;
}

.info-user .box .lo-re a {
    color: #023047;
}

.info-user .box .lo-re a:hover{
    text-decoration: underline;
}

#menu{
    display: none;
}

#close{
    display: none;
}

/* section  */

section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.container-dashboard .box {
    border: 1px solid lightgray;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.container-dashboard .box h3 {
    text-align: center;
    color: #023047;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.container-dashboard .box p {
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    padding: .5rem;
    background: #ccc;
    color: #2a9d8f;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
}


.container-dashboard .box .btn {
    background-color: #023047;
    display: flex;
    margin-bottom:.5rem ;
    height: 38px;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.container-dashboard .box .btn:hover{
    background-color: #345674;
}

/* products */

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.products .box {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    width: 400px;
    margin: 1rem;
}

.products .box h1 {
    margin-bottom: .5rem;
    color: #023047;
    font-size: 2.1rem;
    text-align: center;
    text-transform: capitalize;
}

.products .box input {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 1rem;
    align-items: center;
    padding: .5rem;
}

.products .box input:focus{
    border: 1px solid #000;
}

.products .box .btn {
    width: 200px;
    height: 35px;
    margin: auto;
    background: #023047;
    color: #fff;
}



/* fetch-products */

.fetch-products .container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.container-products .box{
    background: #fff;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: 1px solid #000;
}

.container-products .box .image img {
    width: 100%;
    border-radius:5px  5px 0px 0px;
    height: 250px;
    object-fit: cover;
}

.container-products .contact,
.container-products .name-product,
.container-products .btns{
    margin: .5rem;
}

.container-products .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-products .contact .price{
    font-size: 1.1rem;
    color: #023047;
}

.container-products .contact span {
    font-size: .9rem;
}

.container-products .contact .category {
    font-size: .9rem;
    color: #2839d6;
    cursor: pointer;
}


.container-products .name-product p {
    font-size: 1.3rem;
    color: #2a9d8f;
    font-weight: 700;
}
.container-products .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-products .btns .update {
    display: flex;
    background: #023047;
    height: 34px;
    border-radius: 5px;
    align-items: center;
    width: 49%;
    justify-content: center;
    color: #fff;
    margin-bottom: .3rem;
}

.container-products .btns .update:hover{
    background: #345674;
}

.container-products .btns .delete {
    display: flex;
    background: #b14530;
    height: 34px;
    border-radius: 5px;
    align-items: center;
    width: 49%;
    justify-content: center;
    color: #fff;
    margin-bottom: .3rem;
}

.container-products .btns .delete:hover{
    background: #f32800;
}

@media (max-width:991px) {

    .header{
        position: fixed;
        bottom: 0; right: 0; left: 0;
        border-top:var(--border);
        z-index: 2000;
        background: var(--white);
    }
    
    .header .navber{
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        height: 100vh;
        width: 60%;
        border-right: var(--border);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        overflow: hidden;
        z-index: -10;
    }

    .header .navber.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navber a{
        display: block;
        padding: 1rem 0;
        margin: 2rem 0;
    }

    #menu{
        display: block;
    }

    #close{
        display: none;
        position: absolute;
        top: 1rem; right: 10rem;
        border: var(--border);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        align-items: center;
        text-align: center;
        justify-content: center;
        transition: all 6s linear;
    }

}